/* Navigation Bar */

header {
  height: 80px;

}

header > div {
  height: 80px;
  width: 100%;
  background-color: rgb(20, 19, 19); 
  display: flex;
  align-items: center;
  justify-content: flex-start;
 
}

.fa-github{
    color: white;
    margin-right:25px;
}

.search-bar{
    height: 30px;
    width: 200px;
    border: 2px gray ;
    background-color: rgb(51, 50, 50);
    color: gray;
    border-radius: 2px;
}

header ul {
    display: flex;
    width: 300px;
    justify-content: space-between;
    margin-left:25px;
}

header a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

header > div > div {
   margin-left:  auto;
}

.fa-bell,
.fa-plus{
    color: white;
    margin: 10px;
}



.main {
    display: flex;
    width: 100vw;
} 

/* Left Box */

.main-box-left{
    height: 800px;
    width: 25%;
}

.profile-pic {
    height: 300px;
    width: 80%;
    background-color: rgb(206, 199, 199);
    margin: 15px auto;
}

.profile-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
}

.fa-grin {
    font-size: 12px;
    margin: 10px;
}

.profile-id{
    font-size: 20px;
    margin: 10px;
}

button {
    height: 25px;
    width: 90%;
    margin: 10px;
}

/* Right Boxes */

.main-box-right{
    width: 75%;
}

/* Sub Box */

.main-box-sub{
    height: 80px;
    width: 100%;
    background-color: white;
}

.main-box-sub > ul{
    display: flex; 
    justify-content: space-between;
    width: 70%;
    margin-top: 50px;
}

.main-box-sub a {
    text-decoration: none;
    color: gray;
    font-size: 14px;
}

hr {
    width: 90%;
    margin-top: 20px;
    margin-left: 0;
    height: 1px;

}

/* Content */



.main-box-content{
    height: 90%;
    width: 100%;
   
}

.content-title {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.content-sub {
    margin-right: 120px;
}

.content-box {
    display: flex;
    flex-wrap: wrap;
}

.box{
    border: solid gray 1px;
    height: 100px;
    width: 400px;
    margin: 10px;
    
    
}